<h1>New Entry for <%= @place["name"] %></h1>

<form action="/entries" method="post">
  <input type="hidden" name="place_id" value="<%= @place["id"] %>">
  <p><input type="text" name="title" placeholder="Title"></p>
  <p><textarea name="description" placeholder="Description"></textarea></p>
  <p><input type="date" name="occurred_on"></p>
  <p><button>Add Entry</button></p>
</form>
